#background {
    background-color: #E5E5E5;
}
#outsideBox {
    text-align: center;
    width: 50vw;
    margin-left: 20%;
    padding: 5%;
    border: 3px solid #B23B3B;
    margin-top: 7%;
    position: absolute;
    z-index: 1;
}

#confirmedCases {
    font-family: 'Playfair Display', serif;
    font-size: 6vw;
    margin-bottom: 3%;
    margin-top: -2%;
}

#recoveries {
    font-family: 'Playfair Display', serif;
    font-size: 2vw;
}

#deaths {
    font-family: 'Playfair Display', serif;
    font-size: 2vw;
}

.labelText {
    margin-top: -4%;
    font-family: 'Fauna One', serif;
    font-size: 1vw;
}

#buttons {
    display: grid;
    grid-template-columns: 15vw 15vw;
    grid-column-gap: 5vw;
    margin-left: 27%;
    padding: 5%;
    margin-top: 40vw;
    position: absolute;
    z-index: 1;
}

.buttonText {
    font-size: 1vw;
    padding: 5%;
    transition: 0.5s;
    background-color: #B23B3B;
    color: #EAEAEA;
    border: none;
    font-family: 'Fauna One', serif;
}

.buttonText:hover {
    font-size: 1vw;
    padding: 5%;
    transition: 0.5s;
    background-color: #CB5757;
    border-radius: 15px;
    border: none;
}

.buttonText:active {
    background-color: #A32525;
    border-radius: 40px;
}

.buttonText:focus {
    outline: 0;
}

#popup-symptoms {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    margin-top: 10%;
}