#background {
    background-color: #E5E5E5;
}
#outsideBox {
    text-align: center;
    width: 50vw;
    margin-left: 20%;
    padding: 5%;
    border: 3px solid #B23B3B;
    margin-top: 7%;
    position: absolute;
    z-index: 1;
}

#confirmedCases {
    font-family: 'Playfair Display', serif;
    font-size: 6vw;
    margin-bottom: 3%;
    margin-top: -2%;
}

#recoveries, #deaths {
    font-family: 'Playfair Display', serif;
    font-size: 2vw;
}

.labelText {
    margin-top: -4%;
    font-family: 'Fauna One', serif;
    font-size: 1vw;
}

#buttons {
    display: grid;
    grid-template-columns: 15vw 15vw;
    grid-column-gap: 5vw;
    margin-left: 27%;
    padding: 5%;
    margin-top: 40vw;
    position: absolute;
    z-index: 1;
}

.safety, .symptoms {
    font-size: 1vw;
    padding: 5%;
    transition: 0.5s;
    background-color: #B23B3B;
    color: #EAEAEA;
    border: none;
    font-family: 'Fauna One', serif;
}

.safety:hover, .symptoms:hover {
    font-size: 1vw;
    padding: 5%;
    transition: 0.5s;
    background-color: #CB5757;
    border-radius: 15px;
    border: none;
}

.safety:active, .symptoms:active {
    background-color: #A32525;
    border-radius: 40px;
}

.safety:focus, .symptoms:active {
    outline: 0;
}

.safety:disabled, .symptoms:disabled {
    background-color: #882121;
}

.popupSymptoms, .popupSafety {
    visibility: hidden;
    width: 80vh;
    height: 80vh;
    position: absolute;
    z-index: 3;
    border: 1px solid #882121;
    margin-top: 4%;
    margin-left: 26%;
    border-radius: 5px;
    background-color: #E5E5E5;
    font-size: 2vh;
    font-family: 'Fauna One', serif;
    padding: 2%;
}

.popupSymptoms.active, .popupSafety.active {
    visibility: visible;
}